body {
    background-color: rgb(29, 31, 81);

    color: white;
}

#day {
    background-color: rgb(62, 66, 132);
    padding: 30px;
    margin: 20px;
    border-radius: 30px;
}

.timeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.timeDiv {
    background-color: brown;
    padding: 10px;
}